<div class="card" style="max-width: 560px;">
  <div class="row">
    <div class="col-md-4">
    <img class="img-fluid" style="max-height: 150px" [src]="pedidoLivro.livro.foto" alt="foto do livro" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-title"><strong>{{ pedidoLivro.livro.titulo }}</strong></p>
        <p class="card-text">{{ pedidoLivro.livro.autores }}</p>
        <p class="card-text">Vendido e entregue por <strong>{{ pedidoLivro.livro.fornecedor }}</strong></p>
      </div>
    </div>
  </div>
</div>
