<div 
	class="mb-3"
	[ngSwitch]="type"
>
	<!--Input textarea-->
	<ng-container *ngSwitchCase="'textarea'">
		<label [for]="id" class="form-label">{{title}}</label>
		<textarea
			[ngClass]="{
				'form-control': true,
				'is-invalid': hasError()
			}"
			[(ngModel)]="value"
			[id]="id"
			[name]="name"
			[placeholder]="placeholder"
			[attr.aria-describeBy]="id + '-help'"
			[disabled]="!!disabled"
			[rows]="rows"
			[cols]="cols"
		></textarea>
	</ng-container>

	<!--Input select-->
	<ng-container *ngSwitchCase="'select'">
		<label [for]="id" class="form-label">{{title}}</label>
		<select 
			[ngClass]="{
				'form-select': true,
				'is-invalid': hasError()
			}"
			aria-label="Default select example"
			[id]="id"
			[name]="name"
			[attr.aria-describeBy]="id + '-help'"
			[(ngModel)]="value"
			[disabled]="!!disabled"	
		>
			<option value="" selected disabled>Selecione uma opção</option>
			<option *ngFor="let op of options" [ngValue]="op.value">{{op.displayName}}</option>
		</select>
	</ng-container>

	<!--Input checkbox-->
	<ng-container *ngSwitchCase="'checkbox'">
		<div class="form-check">
			<input 
				type="checkbox" 
				[ngClass]="{
					'form-check-input': true,
					'is-invalid': hasError()
				}"
				[id]="id" 
				[name]="name"
				[placeholder]="placeholder"
				[attr.aria-describeBy]="id + '-help'"
				[disabled]="!!disabled"
				[(ngModel)]="value"
			>
			<label [for]="id" class="form-check-label">{{title}}</label>
		</div>
	</ng-container>

	<!--Input genérico-->
	<ng-container *ngSwitchDefault>
		<label [for]="id" class="form-label">{{title}}</label>
		<input 
			[type]="type" 
			[ngClass]="{
				'form-control': true,
				'is-invalid': hasError()
			}"
			[id]="id" 
			[name]="name"
			[placeholder]="placeholder"
			[attr.aria-describeBy]="id + '-help'"
			[disabled]="!!disabled"
			[(ngModel)]="value"
			(blur)="onBlur($event)"
		>
	</ng-container>
	<div *ngIf="hasError()" class="invalid-feedback">
		<span *ngFor="let err of getErrors()">{{err}}</span>
	</div>
	<div *ngIf="helpText != ''" [id]="id + '-help'" class="form-text">{{helpText}}</div>
</div>