
    <div class="container">
        <img class="mx-auto d-block" src="/assets/img/login.jpg" 
        alt="Imagem de duas meninas sentadas lendo livro"
        style=" height: 25rem;"/>
        <div class="border border-4 rounded-3 border-dark bg-opacity-75 bg-light">
            <p class="text-center fw-bold fs-1">The Book Club</p>
            <p class="text-center fw-bold fs-2">Bem Vindo !!!</p>
            <p class="text-center fs-4">A loja perfeita para os amantes de livros</p>
        </div>

    </div>
    