<div class="mb-3">
	<label [for]="id" class="form-label">{{title}}</label>
	<textarea 
		[ngClass]="{
			'form-control': true,
			'is-invalid': hasError()
		}" 
		[id]="id" 
		[name]="name" 
		[placeholder]="placeholder" 
		[rows]="rows"
		[attr.aria-describeBy]="id + '-help'" 
		[disabled]="!!disabled"
		[(ngModel)]="value" 
		(blur)="onBlur($event)"
	></textarea>
	<div *ngFor="let err of getErrors()" class="invalid-feedback">
		{{err}}
	</div>
	<div *ngIf="helpText != ''" [id]="id + '-help'" class="form-text">{{helpText}}</div>
</div>
