<!-- TODO incluir navbar-component -->
<h1 class="text-center">The BookClub</h1>

<!--<div class="d-flex justify-content-center hstack gap-5 ">
    <button routerLink="/cadastrar" type="button" class="btn btn-warning">Cadastrar</button>
    <button routerLink="/atualizar" type="button" class="btn btn-warning">Atualizar</button>
</div>
<router-outlet></router-outlet>-->

<app-lista-livro [tituloLista]="livro.categoria" [listaLivros]="[livro, livro2, livro, livro2]">
    <ng-template appTemplateLivro>
        <div class="row row-cols-md-3 g-4">
            <div class="col">
                <app-card-livro [livro]="livro"></app-card-livro>
            </div>
        </div>
        <!-- <app-produto-livro [livro]="livro"></app-produto-livro> -->
    </ng-template>
</app-lista-livro>

<!-- TODO incluir rodape-component -->