<!-- TODO incluir navbar-component -->
<h1 class="text-center">The BookClub</h1>

<!--<div class="d-flex justify-content-center hstack gap-5 ">
    <button routerLink="/cadastrar" type="button" class="btn btn-warning">Cadastrar</button>
    <button routerLink="/atualizar" type="button" class="btn btn-warning">Atualizar</button>
</div>
<router-outlet></router-outlet>-->
<router-outlet></router-outlet>

<!-- <app-lista-livro [tituloLista]="livro.categoria" [listaLivros]="[livro, livro2, livro, livro2]"> -->
    
<!-- </app-lista-livro> -->

<router-outlet></router-outlet>

<!-- <app-lista-livro [tituloLista]="livro.categoria" [listaLivros]="[livro, livro2, livro, livro2]">
    
</app-lista-livro> -->

<!-- TODO incluir rodape-component -->
