/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #8DC8FF;
}

.nav-item {
    align-items: center;
    margin-left: 230px;

}


ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;

}


li {
    margin: auto;

}

#fav {
    margin-left: 50px;
}

#cat{
    margin-left: 135px;
    
} */

.nav-profile {
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.nav-profile-photo {
    grid-area: 1 / 1 / 3 / 3;
}

.nav-profile-entrar {
    grid-area: 2 / 3 / 3 / 6;
}

.nav-profile-label {
    grid-area: 1 / 3 / 2 / 6;
}