<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="..." type="image/x-icon">
        <title>The Book Club</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />
       
    </head>

    <body class="bg-primary">

        <nav class="navbar navbar-expand navbar-light nav nav-pills flex-column flex-sm-row" style="background-color: #8DC8FF">
            <a class="navbar-brand" href="#">
                <img
                    src="assets/img/Logo.png"
                    height="50px"
                    alt="símbolo do site, um livro com coração"
                >
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex p-0 bd-highlight justify-content-around" style="font-size: 20pt; font-family: Harmonia Sans Pro Cir B;" id="categorias">
                <ul class="navbar-nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Categorias
                            </a>
                    </li>
                    

                    <li class="nav-item ">
                        <form class="form-inline">
                            <input
                                class="form-control form-control-sm"
                                style="width: 350px"
                                type="search"
                                placeholder="Digite aqui o que procura :D "
                                style="font-size: 16pt;"
                                aria-label="Search"
                            />
                            <button class="btn btn-light-info my-2 my-sm-0" type="submit">
                                <img
                                    src="assets/img/lupa.png"
                                    height="40px"
                                    alt="lupa para busca"
                                />
                            </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="assets/img/perfil.png" height="40px" alt="" />
                            Olá, bem vindo(a)!
                            <p><u><small>Entre ou cadastre-se</small></u></p>
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img
                                src="assets/img/favoritos.png"
                                height="40px"
                                alt="coração representando lista de favoritos"
                        /></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img
                                src="assets/img/carrinho.png"
                                height="40px"
                                alt="carrinho com os itens escolhidos para compra"
                        /></a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- <img src="assets/img/capa-site" class="img-fluid" alt="Imagem logo do site"> -->
        

        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"
        ></script>
    </body>
</html>

