<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid" style="background-color:#8DC8FF ;">
      <a class="navbar-brand" routerLink="/inicio">
        <img src="../../../assets/img/Logo.png" height="50px" alt="símbolo do site, um livro com coração">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-4 mb-2 mb-lg-0">
          <li class="nav-item mx-0">
            <a class="nav-link active fs-3 fw-bold" routerLink="/livros/categorias" aria-current="page">Categorias</a>
          </li>

          <li class="nav-item mx-0">
            <div class="row">
                <div class="col-2">
                    <a class="nav-link" href="#">
                        <img id="perfil" src="../../../assets/img/perfil.png" height="40px" alt="" />
                      </a>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <span>Olá, bem vindo(a)!</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span>
                                <a routerLink="/entrar">
                                    Entre
                                </a>
                            </span>
                            <span> ou </span>
                            <span>
                                <a routerLink="/cadastrar">
                                    Cadastre-se
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>            
          </li>

          <li class="nav-item mx-0">
            <a class="nav-link" href="/">
                <img src="../../../assets/img/favoritos.png" height="40px"
                    alt="coração representando lista de favoritos" />
            </a>
          </li>
          <li class="nav-item mx-0">
            <a class="nav-link .flex-fill" routerLink="/carrinho">
                <img src="../../../assets/img/carrinho.png" height="40px"
                    alt="carrinho com os itens escolhidos para compra" />
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" style="min-width: 250px" type="search" placeholder="Digite aqui o que procura :D" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <img src="../../../assets/img/lupa.png" height="40px" alt="lupa para busca" />
          </button>
        </form>
      </div>
    </div>
  </nav>
<!-- 
  <nav class="navbar navbar-expand navbar-light nav nav-pills flex-column .flex-fill flex-sm-row">
    <a class="navbar-brand" href="../inicio/inicio.component.html">
        <img src="../../../assets/img/Logo.png" height="60px" alt="símbolo do site, um livro com coração">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="d-flex p-10 bd-highlight .flex-fill justify-content-around"
        style="font-size: 19pt; font-family: Harmonia Sans Pro Cir B;" id="categorias">
        <ul class="navbar-nav nav-fill">
            <li id="cat">
                <a class="nav-link" href="/">
                    Categorias
                </a>
            </li>


            <li class="nav-item ">
                <form class="form-inline .flex-fill">
                    <input class="form-control" style="min-width: 350px" type="search"
                        placeholder="Digite aqui o que procura :D " style="font-size: 16pt;" aria-label="Search" />
                    <button class="btn btn-light-info my-2 my-sm-0" type="submit">
                        <img src="../../../assets/img/lupa.png" height="40px" alt="lupa para busca" />
                    </button>
                </form>
            </li>

            <li class="nav-item">
                <a class="nav-link .flex-fill" href="#">
            <li>
                <img id="perfil" src="../../../assets/img/perfil.png" height="40px" alt="" /> Olá, bem vindo(a)!
            </li>
            <li>
                <small><span>Entre</span></small>
            <small> ou </small>
            <small><span>cadastre-se</span></small>
            </li>
            </a>
            </li>
            <li id="fav">
                <a class="nav-link .flex-fill" href="/">
                    <img src="../../../assets/img/favoritos.png" height="40px"
                        alt="coração representando lista de favoritos" /></a>
            </li>
            <li id="cart">
                <a class="nav-link .flex-fill" href="../item-carrinho/item-carrinho.component.html">
                    <img src="../../../assets/img/carrinho.png" height="40px"
                        alt="carrinho com os itens escolhidos para compra" /></a>
            </li>
        </ul>
    </div>
</nav> -->