
<link rel="stylesheet" href="../sobre-nos/sobre-nos.component.css">


    <h1 class="text-center mt-5">Sobre nós</h1>

<p class="p1">
    Somos estudantes do curso de Programação Java Full Stack, realizado pela <a href="https://www.digitalhouse.com/br"
        target="_blank">Digital House,</a> em parceria com a <a href="https://www.portoseguro.com.br/"
        target="_blank">Porto</a>, através do Programa Start, um programa de formação em carreiras digitais, cujo
    objetivo é formar e contratar novos talentos para a área digital da Porto Seguro.
</p>
<p class="p1">
    Durante o curso, tivemos contato com várias tecnologias como Java, Javascript, HTML, CSS, Angular, Spring Framework,
    Banco de dados e aplicações web. Então como forma de concluir o curso, foi nos encarregada a tarefa de colocar em
    prática todos os ensinamentos
    aprendidos, através da criação de um e-commerce, e por isso idealizamos o The Book Club, um site para quem é
    apaixonado por livros e praticidade.
</p>
<p class="p1" id="p3">
    Mas, que tal conhecer um pouco sobre o time por trás do TBC?
</p>
<div class="flex-container row-cols-1">
<ul class="d-1">
    <li>
<p><img class="pict" src="../../../assets/img/Adriana.jpeg" alt="foto da integrante Adriana">
    <h3 class="fs-1"><a href="https://www.linkedin.com/in/adriana-mucciolo/" target="_blank">Adriana Mucciolo</a>, 41 anos - São Paulo </h3>
    
</li>
</ul>
</div>