<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Livros</title>
    </head>
    <body>
        <div class="container">
            <h1>Cadastro de Livros</h1>
            <br>
            <div class="row d-flex justify-content-center">
              <div class="col-md-5">
                  <label for="titulo">Título: </label>
                  <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Digite o Título">
                </div>
              
              <div class="col-md-5">
                <label for="data-publicacao">Data da Publicação:</label>
                <input class="form-control" type="text" name="data-publicacao" id="data-publicacao" placeholder="Digite a Data de Publicação">
              </div>
              
              <div class="w-100"></div>
              <div class="col-md-5">
                <label for="autores">Autores:</label>
                <input class="form-control" type="text" name="autores" id="autores" placeholder="Digite os Autores">
              </div>
              <div class="col-md-5">
                <label for="editora">Editora:</label>
                <input class="form-control" type="text" name="editora" id="editora" placeholder="Digite a Editora">
              </div>

              <div class="w-100"></div>
              <div class="col-md-5">
                <label for="categoria">Categoria:</label>
                <input class="form-control" type="text" name="categoria" id="categoria" placeholder="Digite a Categoria">
              </div>
              <div class="col-md-5">
                <label for="numero-paginas">Número de Páginas:</label>
                <input class="form-control" type="text" name="numero-paginas" id="numero-paginas" placeholder="Digite o Número de Páginas">
              </div>

              <div class="w-100"></div>
              <div class="col-md-5">
                <label for="preco">Preço:</label>
                <input class="form-control" type="text" name="preco" id="preco" placeholder="Digite o Preço">
              </div>
              <div class="col-md-5">
                <label for="isbn">ISBN:</label>
                <input class="form-control" type="text" name="isbn" id="isbn" placeholder="Digite o ISBN">
              </div>

              <div class="w-100"></div>
              <div class="col-md-5">
                <label for="quantidade-estoque">Quantidade no Estoque:</label>
                <input class="form-control" type="text" name="quantidade-estoque" id="quantidade-estoque" placeholder="Digite a Quantidade no Estoque">
              </div>
              <div class="col-md-5">
                <label for="fornecedor">Fornecedor:</label>
                <input class="form-control" type="text" name="fornecedor" id="fornecedor" placeholder="Digite o Fornecedor">
              </div>
              <div class="w-100"></div>
              <div class="col text-center">
                <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
              </div>


            </div>
          </div>
    </body>
</html>
