<footer class="rodape page-footer font-small pt-4">

    <div class="container">
        <div class="row text-center">
            <h4 class="text-white">INFORMAÇÕES</h4>


        </div>
        <div class="row">
            <ul id="informacoes">
                <li>
                    <a class="text-light" target="_blank" routerLink="">Sobre nós</a>
                </li>
                <li>
                    <a class="text-light" target="_blank" routerLink="">Fale conosco</a>
                </li>
                <li>
                    <a class="text-light" target="_blank" routerLink="">Formas de pagamento</a>
                </li>
            </ul>


        </div>

        <div id="github">

            <a href="https://github.com/DigitalHouse-PortoSeguro/projetoIntegradorEcommerce" target="_blank">
                <img src="../../../assets/img/github.png" height="45px" alt="simbolo do Github">
                <i id="github-square" aria-hidden="true"></i>
            </a>


        </div>
        <div class="footer-copyright text-center py-3">
            <span class="text-light">@2022 Copyright: </span>
            <a class="text-light" target="_blank" href="https://google.com.br">The Book Club</a>

        </div>

    </div>
</footer>