<footer class="rodape page-footer font-small py-3 px-5 bg-light bg-opacity-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <h5>INFORMAÇÕES</h5>
                </div>
                <!-- <h5 class="text-center">INFORMAÇÕES</h5> -->
                <div class="row">
                    <a class="text-dark decoration-none link-hover" target="_blank" href="https://www.canva.com/design/DAFFM30f2s8/yn1h8Yu9OzmxgK8c1Edupw/view?utm_content=DAFFM30f2s8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton#1">Sobre nós</a>
                </div>
                <div class="row">
                    <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/DigitalHouse-PortoSeguro/projetoIntegradorEcommerce">Código fonte no GitHub</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h5>Time de desenvolvimento</h5>
                </div>
                <div class="row">
                    <div class="row row-cols-2">
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/drishaolin">
                            Adriana Mucciolo
                        </a>
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/adriellebs">
                            Adrielle Barros
                        </a>
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/carol">
                            Caroline Ramos
                        </a>
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/ghsoares">
                            Gabriel Henrique
                        </a>
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/letoffoli">
                            Letícia Toffoli
                        </a>
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/luanatenguan">
                            Luana Tenguan
                        </a>
                        <a class="text-dark decoration-none link-hover" target="_blank" href="https://github.com/Temgi">
                            Rui Temgi
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="github">
                    <a href="https://github.com/DigitalHouse-PortoSeguro/projetoIntegradorEcommerce" target="_blank">
                        <img src="../../../assets/img/github.png" height="45px" alt="simbolo do Github">
                        <i id="github-square" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-copyright text-center py-3">
                    <span class="text-dark">@2022 Copyright: </span>
                    <a class="text-dark decoration-none link-hover" target="_blank" href="https://google.com.br">The Book Club</a>
                </div>
            </div>
        </div>
    </div>
</footer>