<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Book Club</title>
    <link rel="stylesheet" href="inicio.component.css">
    </head>
<body>
    <!-- <nav>
        <object class=navbar width="100%" height="1100px" data="../../components/navbar/navbar.component.html" >
    </object>
</nav> -->
<div class="container">
 
 <img class="slogan" src="../../../assets/img/Slogan.png" alt="duas amigas sentadas lendo com o slogan do site abaixo">
</div>
    
<div>
    <h5 class="t1">Mais procurados</h5>
</div>
</body>
</html>