<form action="" class="m-4">
    <div class="row">
        <app-input-custom label="Username" type="text" class="col-md-6"></app-input-custom>
        <app-input-custom label="Email" type="email" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="Nome" type="text" class="col-md-6"></app-input-custom>
        <app-input-custom label="Sobrenome" type="text" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="Celular" type="text" class="col-md-6"></app-input-custom>
        <app-input-custom label="Data de Nascimento" type="date" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="Senha" type="password" class="col-md-6"></app-input-custom>
        <app-input-custom label="Confirme a Senha" type="password" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="CPF" type="text" class="col-md-6"></app-input-custom>
        <app-input-custom label="RG" type="text" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="CEP" type="text" class="col-md-6"></app-input-custom>
        <app-input-custom label="Rua" type="text" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="Número" type="text" class="col-md-6"></app-input-custom>
        <app-input-custom label="Bairro" type="text" class="col-md-6"></app-input-custom>
    </div>
    <div class="row">
        <app-input-custom label="Complemento" type="text" class="col-md-6"></app-input-custom>
    </div>

    
</form>