<div style="background-color: #8DC8FE;" class="py-3">
    <h1 class="p-2 text-nowrap border-bottom border-white border-3 w-50 text-center mx-auto">Cadastre-se</h1>
        <form action="" class="m-4">
            <div class="row">
                <app-input-custom label="Username" type="text" class="col-md-6" placeholder="mínimo 5 caracteres"></app-input-custom>
                <app-input-custom label="Email" type="email" class="col-md-6" placeholder="email@email.com"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="Nome" type="text" class="col-md-6" placeholder="Digite seu nome"></app-input-custom>
                <app-input-custom label="Sobrenome" type="text" class="col-md-6" placeholder="Digite seu sobrenome completo"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="Celular" type="text" class="col-md-6" placeholder="(11)99999-9999"></app-input-custom>
                <app-input-custom label="Data de Nascimento" type="date" class="col-md-6"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="Senha" type="password" class="col-md-6" placeholder="mínimo 6 caracteres"></app-input-custom>
                <app-input-custom label="Confirme a Senha" type="password" class="col-md-6" placeholder="Repita sua senha"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="CPF" type="text" class="col-md-6" placeholder="000.000.000-00"></app-input-custom>
                <app-input-custom label="RG" type="text" class="col-md-6" placeholder="00.000.000-0"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="CEP" type="text" class="col-md-6" placeholder="00000-000"></app-input-custom>
                <app-input-custom label="Rua" type="text" class="col-md-6"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="Número" type="text" class="col-md-6"></app-input-custom>
                <app-input-custom label="Bairro" type="text" class="col-md-6"></app-input-custom>
            </div>
            <div class="row">
                <app-input-custom label="Complemento" type="text" class="col-md-6" placeholder="Opcional"></app-input-custom>
            </div>
            <div class="d-flex justify-content-end">
                <button 
                type="submit" 
                class="btn btn-light rounded-pill text-uppercase fs-5 fw-bold"
                >
                Finalizar Cadastro
                </button>
            </div>
        </form>
</div>