<h1 class="text-center mt-5">Admin</h1>

<div class="container">
	<div class="row my-3">
		<h3>Usuário</h3>
	</div>
	<div class="row my-3">
		<button class="btn btn-primary"
		[routerLink]="['/admin/usuarios/cadastrar']">Cadastrar usuário</button>
	</div>
	<div class="row my-3">
		<button class="btn btn-primary"
		[routerLink]="['/admin/usuarios/lista']">Listar usuários</button>
	</div>
	
	<div class="row my-3 mt-5">
		<h3>Livros</h3>
	</div>
	<div class="row my-3">
		<button class="btn btn-primary"
		[routerLink]="['/admin/livros/cadastrar']">Cadastrar livro</button>
	</div>
	<div class="row my-3">
		<button class="btn btn-primary"
		[routerLink]="['/admin/livros/lista']">Listar livros</button>
	</div>
</div>