/* You can add global styles to this file, and also import other style files */
body {
    background-color: #8DC8FF;
}

.mr-5 {
    margin-right: 3rem;
}

.border-radius-3 {
    border-radius: 1rem;
}

.card {
    overflow: hidden;
}