/* You can add global styles to this file, and also import other style files */

body{
    background-color: #8DC8FF;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('HarmoniaSansProCyr-Regular.ttf') format('truetype');
  }

  #text-element {
    font-family: 'Harmonia Sans Pro Cyr', Arial, sans-serif;
  }