/* .image{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.secaoLogin{
  margin-top: 40%;
}

#formSenha{
  margin-top: 2%;
}

.btn{
  color: black;
  background-color: whitesmoke;
  margin-top: 5%;
  width: 100%;
  border-radius: 50px;
}

.cadastro{
  margin-top: 2%;
  text-align: center;
} */
